.profile {
    background-color: rgb(204, 200, 200);
    padding: 20px;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: block;
    max-width: 100%;
    width: 100px;
}

.username,
.tag,
.location,
.stats,
.quantity {
    font-size: 16px;
    margin: 0;
}

.username {
    margin-top: 10px;
    font-style: italic;
}

.username,
.tag {
    margin-bottom: 10px;
}

.tag,
.location {
    font-size: 12px;
}

.stats,
.quantity {
    font-size: 12px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.list li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.stats {
    margin-right: 5px;
}