.name {
    font-size: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.online,
.offline {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}